@import url(http://fonts.googleapis.com/css?family=Special+Elite);
@import url(http://fonts.googleapis.com/css?family=La+Belle+Aurore);
@import url(http://fonts.googleapis.com/css?family=Share+Tech+Mono);

html{
  background-image: url('/img/coffee-paper.jpg');
}

body{
  width: 100%;
}

#wrap{
  margin:10px;
  padding:3% 10%;
  width: 90%;
  max-width: 1000px;
  min-width: 100px;
}

ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  display: block;
  font-family: 'Special Elite', cursive;
  font-weight: bold;
  color: black;
  font-size: 2em;
  width: 20%;
  position: relative;
  z-index: 1;
}

li{
  float: left;
  padding: 2%;
  margin-left: 2%;
}

#nav{
  max-width:100%;
  height: 75px;
  background-color: rgba();
}

#heading{
  text-align: center;
  font-family: 'La Belle Aurore', cursive;
  font-size: 5em;
  padding-top:0;
  position: relative;
  top: -1em;
  left: 1em;
}

#stain1{
  position: relative;
  top: 1em;
  left: -6em;
  z-index: -1;
}

#content{
  position: relative;
  top: -3em;
  padding-top: 3%;
  width: 85%;
  padding: 5%;
  background-color: rgba(255,255,255, .4);
}

p{
  font-family: 'Share Tech Mono', ;
  font-size: 20px;
}

#courey{
  max-width: 20%;
}

h2{
  font-family: 'Special Elite', cursive;
  font-size: 40px;
  text-align: center;
  margin-bottom: 10%;
}
#projects{
  position: relative;
  left: 5em;
}

.ex-img{
  max-width: 30%;
  max-height: 30%;
  position: relative;
  left: 10em;
  top: -4em;
  border: 1px solid black;
}
.button-code{
  margin-top: 10px;
}


#phone{
  width: 500px;
}
